.root {
  -fx-background-color: white;
}

.menu-button {
  -fx-background-color: black;
  -fx-background-radius: 10;
  -fx-font-family: "Arial Black";
  -fx-font-size: 38px;
  -fx-text-fill: white;
}

.button:hover {
  -fx-border-width: 4px;
  -fx-border-radius: 5;
  -fx-border-color: green;
  -fx-border-style: solid;
}

.text-field {
  -fx-font-family: "Arial Black";
  -fx-font-size: 25px;
}

.roll-dice-button {
  -fx-background-color: white;
  -icon-paint: white;
  -fx-content-display: graphic-only;
  -fx-padding: 10px;
  -size: 40;
  -fx-min-height: -size;
  -fx-min-width: -size;
  -fx-max-height: -size;
  -fx-max-width: -size;

  -fx-shape: "M 700.00,0.00 C 755.23, 0.00 800.00, 44.77 800.00, 100.00 800.00, 100.00 800.00, 700.00 800.00, 700.00 800.00, 755.23 755.23, 800.00 700.00, 800.00 700.00, 800.00 100.00, 800.00 100.00, 800.00 44.77, 800.00 0.00, 755.23 0.00, 700.00 0.00, 700.00 0.00, 100.00 0.00, 100.00 0.00, 44.77 44.77, 0.00 100.00, 0.00 100.00, 0.00 700.00, 0.00 700.00, 0.00 Z M 700.00, 50.00 C 700.00, 50.00 100.00, 50.00 100.00, 50.00 72.39, 50.00 50.00, 72.39 50.00, 100.00 50.00, 100.00 50.00, 700.00 50.00, 700.00 50.00, 727.61 72.39, 750.00 100.00, 750.00 100.00, 750.00 700.00, 750.00 700.00, 750.00 727.61, 750.00 750.00, 727.61 750.00, 700.00 750.00, 700.00 750.00, 100.00 750.00, 100.00 750.00, 72.39 727.61, 50.00 700.00, 50.00 Z M 275.00, 525.00 C 302.61, 525.00 325.00, 547.39 325.00, 575.00 325.00, 602.61 302.61, 625.00 275.00, 625.00 247.39, 625.00 225.00, 602.61 225.00, 575.00 225.00, 547.39 247.39, 525.00 275.00, 525.00 Z M 525.00, 525.00 C 552.61, 525.00 575.00, 547.39 575.00, 575.00 575.00, 602.61 552.61, 625.00 525.00, 625.00 497.39, 625.00 475.00, 602.61 475.00, 575.00 475.00, 547.39 497.39, 525.00 525.00, 525.00 Z M 275.00, 350.00 C 302.61, 350.00 325.00, 372.39 325.00, 400.00 325.00, 427.61 302.61, 450.00 275.00, 450.00 247.39, 450.00 225.00, 427.61 225.00, 400.00 225.00, 372.39 247.39, 350.00 275.00, 350.00 Z M 525.00, 350.00 C 552.61, 350.00 575.00, 372.39 575.00, 400.00 575.00, 427.61 552.61, 450.00 525.00, 450.00 497.39, 450.00 475.00, 427.61 475.00, 400.00 475.00, 372.39 497.39, 350.00 525.00, 350.00 Z M 275.00, 175.00 C 302.61, 175.00 325.00, 197.39 325.00, 225.00 325.00, 252.61 302.61, 275.00 275.00, 275.00 247.39, 275.00 225.00, 252.61 225.00, 225.00 225.00, 197.39 247.39, 175.00 275.00, 175.00 Z M 525.00, 175.00 C 552.61, 175.00 575.00, 197.39 575.00, 225.00 575.00, 252.61 552.61, 275.00 525.00, 275.00 497.39, 275.00 475.00, 252.61 475.00, 225.00 475.00, 197.39 497.39, 175.00 525.00, 175.00 Z ";

}

.roll-dice-button:hover {
  -fx-border-color: white;
  -fx-effect: dropshadow(gaussian, white, 10, 0.5, 0, 0);
}

.player-info {
  -fx-background-color: black;
  -fx-padding: 10;
  -fx-border-radius: 10;
  -fx-background-insets: 5px;
  -fx-border-style: solid;
  -fx-border-color: black;
  -fx-border-width: 5px;
}

.player-title {
  -fx-font-size: 40;
  -fx-fill: white;
}

.player-name {
  -fx-font-size: 35;
  -fx-fill: white;
}

.player-container {
  -fx-background-color: black;
  -fx-padding: 10;
  -fx-border-radius: 10;
  -fx-background-insets: 5px;
  -fx-border-style: solid;
  -fx-border-color: black;
  -fx-border-width: 5px;
}

.dice-number {
  -fx-font-size: 60;
  -fx-fill: white;
}

.dice-container {
  -fx-background-color: black;
  -fx-padding: 10;
  -fx-border-radius: 10;
  -fx-background-insets: 5px;
  -fx-border-style: solid;
  -fx-border-color: black;
  -fx-border-width: 5px;
}

.player-avatar {
  -fx-padding: 10;
}